<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Los familiares son</h1>

    {% if flia %}
            {% for persona in flia %}
                
            <ol>
                <li> {{persona.nombre }} 
                    edad:  {{persona.edad}}  </li>
            </ol>
                
            {% endfor %}
    {% else %}
        <h2>
            No se encuentran familiares
        </h2>   
    {% endif %}     
        


    
</body>
</html>